<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    {{#if loggedIn}}
    <article class="card">
        <form class="{{#if isEdit}}edit-post-form{{else}}new-post-form{{/if}}">
            <div class="card-title">
                <h2>
                    {{#if isEdit}}
                    Edit Post
                    {{else}}
                    Create Post
                    {{/if}}
                </h2>
            </div>
            <div class="card-content">
                <label for="">
                    Title
                </label>
                <input name="post-title" type="text" value="{{title}}" class="input-bg" />

                <label for="">Content</label>
                <textarea name="post-url" class="input-bg">{{text}}</textarea>

                <div>
                    {{#if isEdit}}
                    <button type="submit">Update post</button>
                    <button class="delete-post-btn">Delete post</button>
                    {{else}}
                    <button type="submit">Save post</button>
                    {{/if}}
                </div>
            </div>
        </form>
    </article>
    {{else}}
    <div>You are not allowed to edit this post</div>
    {{/if}}
</article>

{{#if isEdit}}
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
{{else}}
<script src="/javascript/add-post.js"></script>
{{/if}}